@charset "ISO-8859-1";

body {
	height: 100%;
	font-family: Eras ITC, Felix Titling, Tw Cen MT, Verdana, Arial,
		Helvetica, sans-serif;
	/* font-size: 17px; */
	/* background: linear-gradient(90deg, #00DBDE, #2E64FE); */
	/* background: linear-gradient(90deg, #edd77e, #5cdbca); */
	background-image: url("../IMAGES/hinterground2.jpg");
}

* {
	box-sizing: border-box;
}

.knob-container {
	display: inline-block;
	padding: 10px;
	color: White;
}

.jumbotron {
	text-align: center;
	margin-bottom: 80px;
	width: 100%;
	background: linear-gradient(30deg, #2E64FE, #00DBDE);
	color: white;
}

.loginClass {
	margin-top: 200px;
	margin-left: 260px;
	border: 3px solid linear-gradient(#00DBDE, #2E64FE);
}

.content-container {
	width: 80%;
	margin: auto;
	border: 1px solid linear-gradient(90deg, #2E64FE, #00DBDE);
}

.navbar {
	background: linear-gradient(90deg, #edd77e, #5cdbca);
	text-align: center;
}

.ui-datagrid-content .ui-widget-content {
	border:none;
	background-color:rgba(0,0,255,0.2) !important;
	text-align: center;
	width:100%;
	margin-top: 50px;
}

footer, #footer, .footer {
	margin-top: 100px;
	padding: 40px;
	position: inherit;
	bottom: 0;
	height: 100px;
	text-align: center;
	width: 100%;
	color: black;
	background: linear-gradient(90deg, #edd77e, #5cdbca);
}